<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-body">
        <section class="textarea-select">
          <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Edit Contract Code Constraint</h4>
            </div>
          </div>
          <div class="row match-height">
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Contract Code Constraint</h4>
                    </div>
                    <div class="card-block">
                        <div class="card-body">
                          <div class="card-body">
                            <form action="/constraints/contract-code/edit" method="POST" enctype="application/x-www-form-urlencoded">
                              <input type="hidden" name="constraintId" value="<%= constraint.id %>">
                              <input type="hidden" name="_method" value="PUT">

                              <h5 class="mt-2">Label</h5>
                              <fieldset class="form-group">
                                <input type="text" class="form-control" name="label" value="<%= constraint.label %>">
                              </fieldset>
        
                              <h5 class="mt-2">Short Desc.</h5>
                              <fieldset class="form-group">
                                <textarea class="form-control" name="desc" rows="2"><%= constraint.desc %></textarea>
                              </fieldset>
        
                              <h5 class="mt-2">Source Code in Contract</h5>
                              <fieldset class="form-group">
                                <textarea class="form-control" name="sourceCode" rows="3"><%= constraint.sourceCode %></textarea>
                              </fieldset>

                              <h5 class="mt-2">Avoid this code (Unselected means to include)</h5>
                                <fieldset class="form-group">
                                <input type="checkbox" name="avoid" <% if (constraint.avoid) { %> checked <% } %> >
                              </fieldset>
  
                              <button type="submit" class="btn mr-1 mb-1 btn-success btn-lg">Save</button>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</div>