<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Contract Code's Constraints Table </h3>
        </div>
      </div>
      <div class="content-body"><!-- Basic Tables start -->
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Constraints registered</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <form action="constraints/contract-code/create/" method="GET">
                            <button type="button" class="btn btn-primary btn-min-width mr-1 mb-1">Primary</button>
                        </form>
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <p class="card-text">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap. You can use any example of below table for your table and it can be use with any type of bootstrap tables. </p>
                        <p><span class="text-bold-600">Example 1:</span> Table with outer spacing</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label</th>
                                        <th>Short Desc.</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(constraint in constraints) { %>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><%= contraint.label %></td>
                                        <td><%= contraint.desc %></td>
                                        <td>
                                            <form action="constraints/contract-code/edit/<%= constraint.id %>" enctype="application/x-www-form-urlencoded" method="GET">
                                                <button type="submit" class="btn btn-info"><i class="la la-cog"></i></button>
                                            </form>
                                            <form action="constraints/contract-code/delete" enctype="application/x-www-form-urlencoded" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="constraint" value="<%= constraint.id %>">
                                                <button type="submit" class="btn btn-info"><i class="la la-remove"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Basic Tables end -->
      </div>
    </div>
  </div>