<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-body"><!-- Basic Inputs start -->
        <section class="textarea-select">
        <!-- Textarea start -->
          <%- include ('../layout/partials/messages') %>
          <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Bot Configuration</h4>
                <p>Basic passive bot configuration </p>
            </div>
          </div>
          <div class="row match-height">
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <p>Used to facilitate entering information on buy orders</p>
                    <div class="card-header">
                        <h4 class="card-title">Buy Order Configuration</h4>
                    </div>
                    <div class="card-block">
                        <div class="card-body">
                          <div class="card-body">
                            <textarea style="resize: none;" cols="40" rows="10"></textarea>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        <!-- Textarea end -->
        </section>
      </div>
    </div>
  </div>

<script src="/js/core/app-lite.js" type="text/javascript">
    status = "<%= buyOrder %>"
</script>