<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">Trade Window's Table </h3>
        </div>
      </div>
      <div class="content-body"><!-- Basic Tables start -->
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Show trade windows</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <p class="card-text">Trade windows include buying and selling or failing.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Created At</th>
                                        <th>Token Name</th>
                                        <th>Messages</th>
                                        <th>Transactions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(tradeWindow in tradeWindows) { %>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><%= tradeWindow.createdAt %></td>
                                        <td><%= tradeWindow.tokenName %></td>
                                        <td><a href="trade-windows/<%= tradeWindow.id %>/log-messages">Log Messages</a></td>
                                        <td><a href="trade-windows/<%= tradeWindow.id %>/transactions">Log Messages</a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Basic Tables end -->
      </div>
    </div>
  </div>